<div class="post-footer">

	<div class="py2 post-footer-center">
	 	<img src="https://avatars1.githubusercontent.com/u/7373645?v=3&u=d2476cf49c4e8e8212aa6fa00b3f77aac3e5a659&s=400" alt="Ikuto Yata" class="avatar" />
	 	<p><a href="{{ site.base_url }}/about/">Ikuto Yata</a></p>
		<p>Eat, drink, and be merry,  for tomorrow may not come.</p>
	</div>

	{% if site.show_sharing_icons %}
	<div class="post-footer-right share-links">
		<ul>
			{% if site.share_facebook %}
				<li>
					<a class = "fa fa-facebook" href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook"></a>
				</li>
			{% endif %}

			{% if site.share_twitter %}
				<li>
					<a class="fa fa-twitter" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Twitter"></a>
				</li>
			{% endif %}
		</ul>
	</div>
	{% endif %}
	<script type="text/javascript">
		var containers = document.getElementsByClassName("share-links")
		var variants = ["A", "B"]
		for (var c = 0; c < containers.length; ++c)
		{
			var links = containers[c].getElementsByTagName("li")
			for (var i = 0; i < links.length; ++i)
			{
				var variant = " share-links-" + variants[(c + i) % 2]
				links[i].getElementsByTagName("a")[0].className += variant
			}
		}
	</script>
</div>
