<div class="share-page">
  <div class="share-links">
    {% if site.share_x %}
    <a class="fa" style="display: inline-flex; align-items: center; justify-content: center;"
      href="https://x.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}" rel="nofollow"
      target="_blank" title="{{ site.text.share_buttons.x }}">
      <svg viewBox="0 0 24 24" width="1em" height="1em" fill="currentColor">
        <path
          d="M18.901 1.153h3.68l-8.04 9.19L24 22.846h-7.406l-5.8-7.584-6.638 7.584H.474l8.6-9.83L0 1.154h7.594l5.243 6.932ZM17.61 20.644h2.039L6.486 3.24H4.298Z" />
      </svg>
    </a>
    {% endif %}

    {% if site.share_linkedin %}
    <a class="fa fa-linkedin"
      href="http://www.linkedin.com/shareArticle?url={{ site.url }}{{ page.url }}&title={{ page.title }}" rel="nofollow"
      target="_blank" title="{{ site.text.share_buttons.linkedin }}"></a>
    {% endif %}

    {% if site.share_digg %}
    <a class="fa fa-digg" href="http://digg.com/submit?url={{ site.url }}{{ page.url }}&title={{ page.title }}"
      rel="nofollow" target="_blank" title="{{ site.text.share_buttons.digg }}"></a>
    {% endif %}

    {% if site.share_reddit %}
    <a class="fa fa-reddit" href="http://reddit.com/submit?url={{ site.url }}{{ page.url }}&title={{ page.title }}"
      rel="nofollow" target="_blank" title="{{ site.text.share_buttons.reddit }}"></a>
    {% endif %}

    {% if site.share_stumbleupon %}
    <a class="fa fa-stumbleupon"
      href="http://www.stumbleupon.com/submit?url={{ site.url }}{{ page.url }}&title={{ page.title }}" rel="nofollow"
      target="_blank" title="{{ site.text.share_buttons.stumbleupon }}"></a>
    {% endif %}

    {% if site.share_hackernews %}
    <a class="fa fa-hacker-news" onclick="parent.postMessage('submit','*')"
      href="https://news.ycombinator.com/submitlink?u={{ site.url }}{{ page.url }}&t={{ page.title }}" rel="nofollow"
      target="_blank" title="{{ site.text.share_buttons.hackernews }}"></a>
    {% endif %}
  </div>
</div>
