blockquote {
  border-left: 4px solid $accent-magenta;
  background-color: $card-bg;
  color: $text-color;
  font-family: $heading-font-family;
  font-style: italic;
  margin-left: $space-1;
  padding: $space-1;
}

blockquote footer {
  background-color: transparent;
  border-color: transparent;
  color: $accent-green;
  font-size: .85rem;
  font-style: normal;
  text-align: left;
  padding: 0;
}
