.posts {
  margin: 0;
}

.posts .post {
  margin-bottom: 0.75em;
  border-bottom: thin solid #f3f3f3;
  width: 70%;
  margin: 0 auto;
  display: block;
}

.posts .post:last-child {
  border-bottom: none;
  margin-bottom: .375em;
  padding-bottom: 0;
}

.post-link .post-title {
  margin-top: 0;
  font-weight: 600
}

.post-footer {
  @extend .italic;

  margin-top: .75rem;
  text-align: center;
}

.post-footer .avatar {
  margin: 2rem 0;
  width: 100px;
  border-radius: 50%;
}

.meta,
.post-meta {
  width: auto;
  font-weight: 300;
  margin: 0;
  padding: .25em 0;
  color: #7a7a7a;
  font-style: italic;
}

.related-post-title {
  border-bottom: thin solid #f3f3f3;
}

.share-page {
  position: fixed;
  left: 0;
  margin: auto 0;
  top: 50%;
  bottom: 50%;
  height: 300px;
}

.share-links a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
}

.share-links a:hover {
  color: #86C166;
  border: none;
}
